@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primery: #FF6633;
    --secondary: #70C05B;
    --info: #1CB9FC;
    --light-gray: #BFBFBF;
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
}

* {
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    transition: opacity .3s ease, color .3s ease, background-color .3s ease;
}
body {
    margin: 0;
    font-size: 16px;
    background-color: #FBF8EC;
}

/* Glob Styles */
.s-section {
    padding: 60px 0;
} 
.s-section:last-child {
    margin-bottom: 80px;
}
.s-container {
    max-width: 1210px;
    width: 100%;
    margin: auto;
}
.s-row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 15px;
}
.s-dfw {
    display: flex;
    flex-wrap: wrap;
}
.s-section__heading {
    font-size: 36px;
    color: #414141;
    margin: 0 0 40px;
    width: calc(100% - 160px);
}
.s-section__link {
    justify-content: flex-end;
    width: 160px;
    color: #606060;
}
.s-section__link span {
    margin-right: 10px;
}
.s-jc-sb {
    justify-content: space-between;
}
.s-jc-center {
    justify-content: center;
}
.s-alt-center {
    align-items: center;
}
.s-p0 {
    padding: 0;
}
.s-m0 {
    margin: 0;
}
.s-pos-rel {
    position: relative;
}
.s-pos-abs {
    position: absolute;
}

a, input, select {
    text-decoration: none;
    outline: none;
    cursor: pointer;
    border: none;
}

.s-btn {
    background-color: #F3F2F1;
    border: 1px solid #F3F2F1;
    color: #606060;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    align-items: center;
    width: auto;
}
.s-btn span {
    display: flex;
}
.s-btn svg:first-child {
    margin-right: 10px;
}
.s-btn svg:last-child {
    margin-left: 10px;
}
.s-btn__green {
    background-color: var(--secondary);
    border-color: var(--secondary);
    color: #fff;
}
.s-btn.s-btn__green.invert {
    background-color: transparent;
    color: var(--secondary);
    padding: 8px;
}
.s-btn.s-btn__green.invert:hover {
    background-color: var(--primery);
    border-color: var(--primery);
    color: #fff;
}
.s-btn.s-btn__transparent-green {
    color: var(--secondary);
    background-color: #E5FFDE;
}
.s-btn.s-btn__transparent-green:hover {
    background-color: var(--secondary);
    color: #fff;
}
.s-btn__orange {
    color: #fff;
    background-color: var(--primery);
    border-color: var(--primery);
}
.s-btn__orange:hover {
    background-color: var(--secondary);
    border-color: var(--secondary);
}
.s-shop__actions > .s-label {
    width: calc(100% - 430px - 40px - 120px);
}
.s-label {
    background: #fff;
    border: 1px solid var(--light-gray);
    padding: 10px;
    border-radius: 4px;
}
.s-label.s-border__green {
    border-color: var(--secondary);
}
.s-label input, .s-inp {
    max-width: 100%;
}
.s-shop__actions > .s-label input {
    width: calc(100% - 24px);
}
.s-hot-links {
    margin-left: 40px;
}
.s-hl__item {
    text-align: center;
    margin-right: 24px;
}
.s-hl__item span {
    display: block;
    margin-top: 10px;
}
.s-hl__item.avatar {
    margin-right: 0;
}
.s-hl__item.avatar img {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.s-hl__item.avatar h4 {
    margin: 0 10px;
    font-weight: 400;
}


/* Header Styles */
.s-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 0;
    background-color: #fff;
    box-shadow: 2px 4px 8px rgb(0 0 0 / 10%);
}
.s-nav.fix {
    position: fixed;
}
.s-logo {
    width: 150px;
    margin-right: 40px;
}
.s-shop__actions {
    width: calc(100% - 190px);
}
.s-shop__actions > .s-btn__green {
    margin-right: 15px;
}

/* Footer Styles */
footer#footer {
    background-image: url('/public/assets/img/fbg.png');
    background-position: center;
    background-size: 100%;
    padding: 25px 0;
}
.s-footer__logo {
    width: 64px;
    margin-right: 40px;
}
.s-footer__navigation {
    margin-right: auto;
}
.s-social__list {
    margin-right: 40px;
}
.s-fn__item {
    font-size: 12px;
    color: #000;
    margin-right: 40px;
}
.s-sl__item:not(:last-child) {
    margin-right: 18px;
}
.s-sl__item svg {
    height: 20px;
}
.s-get_in_touch h4 {
    font-size: 16px;
    font-weight: 400;
    color: #414141;
}
.s-get_in_touch svg {
    margin-right: 8px;
}
.s-footer__copyright {
    width: 100%;
    text-align: right;
    font-size: 14px;
    color: #414141;
}

/* Product Card Styles */
.s-col-3 {
    width: calc(25% - (120px / 4));
}
.s-product__card {
    transition: box-shadow .3s ease;
    border-radius: 4px;
    overflow: hidden;
}
.s-product__card:hover {
    box-shadow: 4px 8px 16px rgba(255, 102, 51, 0.2);
}
.s-pc__banner {
    position: relative;
    width: 100%;
    height: 160px;
    background-color: #fff;
    padding: 10px;
}
.s-pc__banner img {
    object-fit: cover;
    height: 100%;
}
.s-pcb__link {
    position: absolute;
    right: 8px;
    top: 8px;
    background: #F3F2F1;
    opacity: 0.5;
    border-radius: 4px;
    height: 32px;
    width: 32px;
}
.s-pcb__link:hover {
    opacity: 1;
}

.s-bage {
    padding: 10px;
    border-radius: 4px;
    background-color: var(--light-gray);
    width: fit-content;
    font-weight: 400;
    margin: 0;
}

.s-pcb__bage {
    position: absolute;
    bottom: 8px;
    left: 8px;
    background-color: var(--primery);
    color: #fff;
}
.s-pc__info {
    padding: 10px;
    background-color: #fff;
}
.s-pcipt__price {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
}
.s-pcip__item.bold .s-pcipt__price {
    font-weight: 700;
}
.s-pcipt__price-type {
    font-size: 12px;
    margin: 5px 0 0;
    font-weight: 400;
    color: var(--light-gray);
}
.s-pc__title {
    font-weight: 400;
}
.s-pc__info .s-btn.s-btn__green.invert {
    width: 100%;
}
/* Pop Up Styles */
/*PopUp Stylesheet*/
@keyframes pop-up {
    0%{
        opacity: 0;
        transform: scale(.8);
    }
    50%{
        opacity: 1;
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}
@-webkit-keyframes pop-up {
    0%{
        opacity: 0;
        transform: scale(.8);
    }
    50%{
        opacity: 1;
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}
.s-pop_ups {
    margin: 0;
}
.s-pop_up {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 30px 15px;
    box-sizing: border-box;
    background-color: rgba(252, 213, 186, 0.8);
    overflow-y: overlay;
    z-index: -1;
    opacity: 0;
    transition: all .3s ease;
}
.s-pop_up.active {
    opacity: 1;
    z-index: 25;
    animation: .2s pop-up ease-in;
}
.s-pop_up__wrap {
    position: relative;
    width: 420px;
    max-width: 100%;
    margin: auto auto;
    background: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 80px 70px;
    border-radius: 4px;
}
.s-pop_up__wrap__header {
    margin-bottom: 60px;
}
.s-pop_up__wrap__header h4 {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    color: #414141;
    margin: 0;
}
.s-pop_up__wrap__header .s-close {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #F3F2F1;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
}
.s-pop_up__submit {
    width: 100%;
    margin: 10px 0;
    padding: 15px 10px;
    font-size: 24px;
    color: var(--primery);
    background-color: #FCD5BA;
}
/* Tabination Styles */
.s-tabination {
    position: relative;
    width: 100%;
}
.s-tab__nav {
    margin-bottom: 24px;
}
.s-tab__nav > .s-btn:not(:last-child) {
    margin-right: 24px;
}
.s-tab > iframe {
    width: 100%;
    height: 355px;
    border-radius: 4px;
}
.s-tab {
    position: absolute;
    left: 0;
    width: 100%;
    opacity: 0;
    z-index: -999;
    transition: opacity .1s ease-in;
}
.s-tab.active {
    position: static;
    opacity: 1;
    z-index: auto;
}
/* BreadCrumbs Styles */
.s-breadcrumbs__section {
    padding-top: 100px;
}
.s-breadcrumbs {
    margin-bottom: 20px;
}
.s-bc__item {
    font-size: 12px;
}
a.s-bc__item {
    color: #414141;
}
p.s-bc__item {
    margin: 0;
}
p.s-bc__item:last-child {
    color: #8F8F8F;
}
/* NEws Cards Styles */
.s-col-4 {
    width: calc(33.3335% - (80px / 3));
}
.s-news__card {
    background-color: #fff;
    border-radius: 4px;
    overflow: hidden;
}
.s-nc__banner img {
    height: 165px;
    width: 100%;
    object-fit: cover;
}
.s-datas {
    padding: 0 10px;
    margin: 10px 0;
}
.s-data__item {
    margin: 0;
    font-size: 12px;
    color: #8F8F8F;
}
.s-news__title {
    color: #414141;
    font-size: 18px;
    padding: 0 10px;
    margin: 10px 0;
}
.s-news__excerpt {
    margin: 10px 0;
    padding: 0 10px;
    font-weight: 400;
}
.s-news__card > .s-btn.s-btn__transparent-green {
    margin: 10px;
    font-size: 16px;
    padding: 10px 25px;
}